<label for="widget-{{ widgetName }}[{{ widgetNumber }}][twitterUrl]">Twitter user</label>
<input class="widefat" id="widget-{{ widgetName }}-{{ widgetNumber }}-twitterUrl" name="widget-{{ widgetName }}[{{ widgetNumber }}][twitterUrl]" type="text" value="{{ twitterUrl }}" />

<label for="widget-{{ widgetName }}[{{ widgetNumber }}][facebookUrl]">Facebook user</label>
<input class="widefat" id="widget-{{ widgetName }}-{{ widgetNumber }}-facebookUrl" name="widget-{{ widgetName }}[{{ widgetNumber }}][facebookUrl]" type="text" value="{{ facebookUrl }}" />

<label for="widget-{{ widgetName }}[{{ widgetNumber }}][pinterestUrl]">Pinterest user</label>
<input class="widefat" id="widget-{{ widgetName }}-{{ widgetNumber }}-pinterestUrl" name="widget-{{ widgetName }}[{{ widgetNumber }}][pinterestUrl]" type="text" value="{{ pinterestUrl }}" />

<label for="widget-{{ widgetName }}[{{ widgetNumber }}][youtubeUrl]">Youtube user</label>
<input class="widefat" id="widget-{{ widgetName }}-{{ widgetNumber }}-youtubeUrl" name="widget-{{ widgetName }}[{{ widgetNumber }}][youtubeUrl]" type="text" value="{{ youtubeUrl }}" />

<label for="widget-{{ widgetName }}[{{ widgetNumber }}][rssUrl]">RSS url</label>
<input class="widefat" id="widget-{{ widgetName }}-{{ widgetNumber }}-rssUrl" name="widget-{{ widgetName }}[{{ widgetNumber }}][rssUrl]" type="text" value="{{ rssUrl }}" />
