{% extends 'layout/base.html.twig' %}

{% block content %}
    <h1>{{ attachment.post_title }}</h1>
    {% if attachment_image %}
        <img class="{{ attachment.class }}" src="{{ attachment.guid }}" alt="{{ attachment.post_title }}"/>
    {% else %}
        <a href="{{ attachment.guid }}">{{ attachment.guid }}</a>
    {% endif %}
{% endblock %}
