{{ beforeWidget }}
    {{ beforeTitle }}Siguenos en{{ afterTitle }}
    <nav class="social">
        <a href="http://facebook.com/{{ facebookUrl }}">
            <svg class="icon"><use xlink:href="#facebook"></use></svg>
        </a>
        <a href="http://twitter.com/{{ twitterUrl }}">
            <svg class="icon"><use xlink:href="#twitter"></use></svg>
        </a>
        <a href="http://pinterest.com/{{ pinterestUrl }}">
            <svg class="icon"><use xlink:href="#pinterest"></use></svg>
        </a>
        <a href="http://youtube.com/{{ youtubeUrl }}">
            <svg class="icon"><use xlink:href="#youtube"></use></svg>
        </a>
        <a href="{{ rssUrl }}">
            <svg class="icon"><use xlink:href="#rss"></use></svg>
        </a>
    </nav>
{{ afterWidget }}
